
/*Element section*/

hr{
	border-color: #438787;
}

body{
	background-color: #CDD3D3;
	font-family: Comic Sans MS;
}

h1{
	font-family: Comic Sans MS;
}


/*Id section*/

#profile-pic{
	border:3px solid #438787;
	bottom:300px;
	left:1000px;
	position:absolute;
	height:50%;
	width:auto;
	 -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

#div2{
	margin-left:7px;
	margin-bottom: 150px;
	float:left
	position:relative;
	width:1000px;
	word-wrap:break-word;
}

#div6{
	padding-left: 10px;
	margin-left: 700px;
	word-wrap:break-word;
	position:absolute;
	font-size:17px;
	font-style: italic;

}

#flexlayout{
	display: flex;
}

/*Class Section*/


.div4 {
	margin-left:7px;
	float:left;
	position:absolute;
	word-wrap:break-word;
	font-size: 30px;
	font-style: italic;

}

.div5{
	margin-left:100px;
	padding-left: 7px;
	word-wrap:break-word;
	position:relative;
	font-size:17px;
	font-style: italic;
	border-left: medium #438787 solid;
    margin-bottom: 150px;
    height: 250px;
	left:200px; 
}

.subheaders{
	margin-left: 0px;
	font-weight: bold;
	font-size:19px;
}